# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# local product-demo source recordings
/public/demo/*.mov

# local
.DS_Store
*.pem
/.multisoul/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
